@model IEnumerable<WEB2022_ZZFashion.Models.SPCashVoucherViewModel>
@{
    ViewData["Title"] = "Pending Vouchers";
	ViewData["css"] = "salespersonnel/pendingvoucher.css";
}


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Pass Voucher</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-info">
			</div>
		</div>
	</div>
</div>
<section class="body">
	<section class="header container-fluid">View Customer</section>
	<section class="content container-fluid">
		<div class="row">
			<section class="leftcol col-4">
				<div class="container">
					<h1 class="row">@ViewData["MemberID"]</h1>
					<h1 class="row">@ViewData["MName"]</h1>
				</div>
			</section>
			<section class="rightcol col-8">
				<h1>Pending Voucher</h1>
				 <partial name="~/Views/SalesPersonnel/_PendingVoucher.cshtml" model="@Model" />
			</section>
		</div>
	</section>
</section>

@if (TempData["UpdatePendingErr"] != null)
{
	<script type="text/javascript">
		alert("@TempData["UpdatePendingErr"]")
	</script>	
}

@section Scripts {
    <script type="text/javascript" src="~/js/pendingvoucher.js"></script>
}
