@{ ViewData["Title"] = "Login"; }


<div class="loginbackground">
    <div class="shape"></div>
    <div class="shape"></div>
</div>


<form method="post" action="#">
    <fieldset class="loginFieldset">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="Username" placeholder="Username" id="Username">

        <label for="password">Password</label>
        <input type="password" name="Password" placeholder="Password" id="Password">

        <button input type="submit" id="button" class="button" value="Login">Log In</button>


        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>

        <span style="color:red;">@TempData["Message"]</span>
    </fieldset>
</form>