@model IEnumerable<WEB2022Apr_P01_T3.Models.ProductManager>
@{
    ViewData["Title"] = "ViewProducts";
}

@if (Model.ToList().Count > 0)
{
    <div class="productMainContainer">
        @foreach (var item in Model)
        {
        <div class="productContainer">
            @{string imageFileName = item.productImage;}
            <img src="~/images/products/@imageFileName" alt="" class="productImage" />
            <div class="productMainTextContainer">
                <ul class="productTextContainer">
                    <li class="productTextHeader">Name:</li>
                    <li class="productDescription">@item.productName</li>
                </ul>
                <ul class="productTextContainer">
                    <li class="productTextHeader">Price:</li>
                    <li class="productDescription">$@item.productPrice</li>
                </ul>
                <ul class="productTextContainer">
                    <li class="productTextHeader">Product Effective Date</li>
                    <li class="productDescription">@item.productEffectiveDate</li>
                </ul>
                <ul class="productTextContainer">
                    <li class="productTextHeader">Product Condition:</li>
                    <li class="productDescription">@item.productCondition</li>
                </ul>
                <ui class="productTextContainer">
                    <a class="nav-link updateDelete" asp-area="" asp-controller="ProductManager" asp-action="EditProduct" asp-route-id="@item.productID">Edit</a>
                </ui>
            </div>
        </div>
        }
    </div>
}
else
{
    <span style="color:red">No record found!</span>
}
