@model WEB2022Apr_P01_T3.Models.ProductManager 

@{
    ViewData["Title"] = "CreateProduct";
}

<div class="loginContainer">
    <div id="login-container">
        <p id="loginTitle">Create a new product</p>
        <form method="post" action="#" enctype="multipart/form-data">
            <fieldset class="loginFieldset">
                <div>
                    <input asp-for="blogName" class="inputText" placeholder="Blog Name" required />
                    <span asp-validation-for="blogName" class="text-danger"></span>
                </div>



                <div>
                    <input asp-for="blogDesc" class="inputText" placeholder="Blog Desc" required />
                    <span asp-validation-for="blogDesc" class="text-danger"></span>
                </div>

                <div>
                    <input asp-for="photoUpload" accept="image/jpeg" class="inputText" style="padding-top: 0.3vw" placeholder="Add photo (jpg format)">
                </div>

                <div>
                    <input type="submit" id="btnLogin" class="btn-dark inputText" value="Create Blog" />
                </div>

                <div>
                    <a class="btn-dark inputText" asp-action="ViewBlogsAdmin" style="color: white;">Back</a>
                </div>

            </fieldset>
        </form>
    </div>
</div>