@model IEnumerable<WEB2022Apr_P01_T3.Models.ProductManager>
@{
    ViewData["Title"] = "ViewBlogs";
}

@if (Model.ToList().Count > 0)
{
    <p><a asp-controller="BlogManager" asp-action="CreateBlog">Add a new Blog</a></p>
    <div class="productMainContainer">
        @foreach (var item in Model)
        {
            <div class="productContainer">
                @{string imageFileName = item.blogImage;}
                <img src="~/images/products/@imageFileName" alt="" class="productImage" />
                <div class="productMainTextContainer">
                    <ul class="productTextContainer">
                        <li class="productTextHeader">@item.blogName</li>
                        <li class="productDescription">@item.blogDesc</li>
                    </ul>
                    <ui class="productTextContainer">
                        <a class="nav-link updateDelete" asp-area="" asp-controller="ProductManager" asp-action="EditProduct" asp-route-id="@item.blogID">Edit</a>
                    </ui>
                </div>
            </div>
        }
    </div>

}
else
{
    <span style="color:red">No record found!</span>
}
