.body {
	height: 92vh;
	width: 100vw;
}

.leftcol {
	background-color: #ac2525;
	height: max-content;
	min-height: 77vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

	.leftcol :nth-child(n) {
		color: white !important;
	}

	.leftcol .container {
		width: fit-content;
	}

thead {
	background-color: #ac2525;
}

	thead th {
		color: #fff;
	}

tbody tr {
	-webkit-transition: box-shadow 0.3s linear;
	-moz-transition: box-shadow 0.3s linear;
	-o-transition: box-shadow 0.3s linear;
	-ms-transition: box-shadow 0.3s linear;
	transition: box-shadow 0.3s linear;
}

	tbody tr:hover {
		background-color: #00000015;
		-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
