@{
    ViewData["Title"] = "View Customer";
    ViewData["css"] = "salespersonnel/viewcustomer.css";
}


<section class="body">
    <section class="header container-fluid">View Customer</section>
    <section class="content container">
        

        <partial name="~/Views/CompileTransaction/_viewCustomer.cshtml" model="@Model" />

    </section>
</section>

