@{
    ViewData["Title"] = "About Us";
}

<section class="body">
	<section class="header container-fluid">About Us</section>
	<section class="content container">
		<div class="row">
			<div class="col-6">
                <p class="aboutusfont">
                    We are a team of social entrepreneurs studying and working in Singapore.

                    Our mission is provide users easily accessible financial information online.

                    SbloG aims to simplify the process of looking up for supplementary aid by fact-checking charitable organizations for you.

                    In order to do that, we personally verify blog we put up for their authenticity.

                    SbloG has managed to partner with a few organizations dedicated to helping out low-income families with children embarking on their education journey.

                    Our primary focus is on helping to make education more affordable for those in need.

                    SbloG is currently a startup social enterprise, and there is a bright future ahead of us.

                    We are constantly improving our website and partnering with other organizations to bring the best for our users.

                </p>
			</div>
			<div class="col-6">
				<img src="~/images/home.jpg" alt="About Us">
			</div>
		</div>
	</section>
</section>
    

