@{
    ViewData["Title"] = "AboutUs";
}

<section class="body">
    <section class="header container-fluid">About Us</section>
    <section class="content container">
        <div class="row">
            <div class="col-6">
                <p>
                    WWWWWWWWWWWWW
                </p>
            </div>

        </div>
    </section>
</section>