@{
    ViewData["Title"] = "About Us";
}

<section class="body">
	<section class="header container-fluid">About Us</section>
	<section class="content container">
		<div class="row">
			<div class="col-6">
				<p>
					ZZ Fashion is a clothing store dedicated to
					appealing to and clothing both men and
					women, with great variety for all. We have
					successfully expanded to 20 countries where
					people find something special for them in our
					wide array of options.
					We have created our website to serve
					customers our ever-expanding clothing line,
					where there will be something for everyone.
				</p>
			</div>
			<div class="col-6">
				<img src="~/images/home.jpg" alt="About Us">
			</div>
		</div>
	</section>
</section>
    

