@{
    ViewData["Title"] = "AdminView";
}

<section class="body">
    <section class="header container-fluid">Admin View</section>
    <section class="content container">
        <div class="row">
            <div class="col-6">
                <p>
                    Hi welcome
                </p>
            </div>

        </div>
    </section>
</section>