@{
    ViewData["Title"] = "Contact Us";
	ViewData["css"] = "home/contactus.css";
}

<section class="body">
	<section class="header container-fluid">Contact Us</section>
    <section class="content container">
        <div class="row">
            <div class="col-6">Get In Touch</div>
        </div>
        <div class="row">
            <div class="col-6">
                <p>
                    We are very approachable and love to speak to you.<br />
                    Feel free to call,send us an email, tweet us or simply complete the enquiry form.
                </p>
            </div>
            <div class="col-6"> 
                <img src="~/images/Map.jpg" alt="Map">
            </div>
        </div>
        <div class="row">
            <div class="col-6">1800 725 185</div>
        </div>
        <div class="row">
            <div class="col-6">SbloG@fakemail.support</div>
        </div>
        <div class="row">
            <div class="col-6">17 Orchard Street, ABC Building East Swing #2356<br />
            Singapore 546482</div>
        </div>
    </section>
</section>
    

