@{
    ViewData["Title"] = "Home Page";
}

<div class="homeContainer">
    <img src="~/images/home/home-page.png" alt="homePage" class="imageContainer" />
    <div class="textContainer">
        <p class="number1">The #1 Leading Clothing Retailer</p>
        <p class="location">Located in more than 20 coutries worldwide</p>
    </div>
</div>

<h4 class="header">Some of our membership perks:</h4>
<div class="perksRow">
    <div class="perksContainer">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q2tcuaso.json"
                       background="transparent" speed="1" class="photoHolder"
                       loop autoplay></lottie-player>
        <div class="perkHeader">Birthday Deals</div>
        <div class="perkText">15% for purchases made in <br> your birthday month</div>
    </div>
    <div class="perksContainer">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_2wkuqm8b.json"
                       background="transparent" speed="1" class="photoHolder"
                       loop autoplay></lottie-player>
        <div class="perkHeader">Enjoy Discounts</div>
        <div class="perkText">Get 10% off every purchase</div>
    </div>
    <div class="perksContainer">
        <lottie-player src="https://assets7.lottiefiles.com/datafiles/zc3XRzudyWE36ZBJr7PIkkqq0PFIrIBgp4ojqShI/newAnimation.json"
                       background="transparent" speed="1" class="photoHolder"
                       loop autoplay></lottie-player>
        <div class="perkHeader">Reedem Rewards</div>
        <div class="perkText">Earn and reedem cash vouchers <br> every month when you spend at <br> least $200</div>
    </div>
</div>
<h4 class="header" style="background-color: #3b3b3b; color: white;">Fun facts:</h4>

<div class="about">
    <div class="aboutUsContainer">
        <lottie-player src="https://assets7.lottiefiles.com/private_files/lf30_ecnepkno.json"
                       background="transparent" style="width: 15vw; margin-left: 2vw;" speed="1" class="photoHolder"
                       loop autoplay></lottie-player>
        <p class="aboutUsText">
            Over a wide range of clothes to choose from
        </p>
    </div>
    <div class="aboutUsContainer">
        <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_izy5ndvp.json"
                       background="transparent" speed="1" class="photoHolder" loop autoplay></lottie-player>
        <p class="aboutUsText">
            Over 20 outlets across the globe
        </p>
    </div>
    <div class="aboutUsContainer">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_0l6wotvo.json"
                       background="transparent" style="width: 17vw; margin-left: 1.2vw;" speed="1" loop autoplay class="photoHolder"></lottie-player>
        <p class="aboutUsText">
            Clothes at affordable prices
        </p>
    </div>
    <div class="aboutUsContainer">
        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_rZQs81.json"
                       background="transparent" style="width: 200px; margin-left: 2vw;" speed="1" loop autoplay class="aboutUsPhoto"></lottie-player>
        <p class="aboutUsText">
            Become a member for awesome benefits
        </p>
    </div>


