@{
    ViewData["Title"] = "Home";
    ViewData["css"] = "home/home.css";
}

<section class="body">
    <div id="body2">
    <div class="boxy1">
        <div class="boxy2 container-fluid">
        <h3>GOTTA DO</h3>
        <div class="forpadding"></div>
        <div class="center"><h2>IT MY WAY!</h2></div>
        <div class="center">
            <div class="boxy3">
            <a href="~/Home/ViewProduct">View Product >></a>
            </div>
        </div>
        </div>
    </div>
    </div>
</section>
    

