@model WEB2022Apr_P01_T3.Models.Contact

@{
    ViewData["Title"] = "ContactUs";
}

<div style="width:100%; height:100%; background-color:white;">
    <div class="contactUsTopContainer">
        <div id="contactUsHero">
            <img class="contactUsImage" id="contactUsHeroImg" src="~/images/contactUs/contactUsHero.png" />
            <div id="contactUsHeroText">
                <p id="contactUsHeroTextLineOne">Get in touch</p>
                <p>Got a question? Here are a few ways you can reach us</p>
            </div>
        </div>

        <div class="contactUsBoxesContainer">
            <div class="contactUsBoxOne">
                <div>
                    <img src="~/images/contactUs/telephoneLogo.png" />
                    <p style="font-weight:500">Talk to us</p>
                    <p>Want to have quick responses to your queries?</p>
                    <p>Dial this number or send an email.</p>
                    <p style="color:#FFA200">+65 9876 5432</p>
                    <p style="color:#FFA200">zzfashion@gmail.com</p>
                </div>
            </div>
            <div class="contactUsBoxTwo">
                <div>
                    <img src="~/images/contactUs/contactFormLogo.png" />
                    <p style="font-weight:500">Fill up our form</p>
                    <p>Want to have detailed explanations to your queries?</p>
                    <p>Click the button below to fill up a form</p>
                    <a class="btn btn-warning" id="contactUsBoxTwoButton" href="#contactFormContainer" role="button">Click here</a>
                </div>
            </div>
        </div>
    </div>

    <div id="contactFormContainer">
        <p style="font-weight:500" id="contactFormTitle">Contact Form</p>
        <p id="contactFormDesc">Have a burning question? Send us a message and we would respond within 3 working days</p>
        <form id="contactForm" asp-controller="ContactUs" asp-action="Create" method="post">
            <div class="form-group">
                <label for="contactFormType">What can we help you with?</label>
                <select class="form-control" id="contactFormType" asp-for="Type">
                    <option selected="selected" disabled="disabled">Select what we can help you with</option>
                    <option value="feedback">Feedback</option>
                    <option value="queries">Queries</option>
                    <option value="others">Others</option>
                </select>
                <span class="text-danger" asp-validation-for="Type"></span>
            </div>
            <div class="form-group">
                <label for="contactFormName">Name</label>
                <input type="text" class="form-control" id="contactFormName" asp-for="Name" value="@TempData["contactName"]">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label for="contactFormEmail">Email</label>
                <input type="email" class="form-control" id="contactFormEmail" asp-for="Email" value="@TempData["contactEmail"]">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label for="contactFormMessage">Message:</label>
                <textarea class="form-control" id="contactFormMessage" rows="8" asp-for="Message"  value="@TempData["contactMessage"]"></textarea>
                <span class="text-danger" asp-validation-for="Message"></span>
            </div>
            <button type="submit" class="btn btn-primary formSubmitBtn" id="contactFormSubmitBtn">Submit</button>
        </form>
        <p>@TempData["contactFormStatus"]</p>
    </div>
</div>