<ul class="navbar-nav ml-auto">
	<li class="nav-item">
		<a class="nav-link" href="~/Home">
			<span>Home</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="~/Home/ContactUs">
			<span>Contact Us</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="~/Home/AboutUs">
			<span>About Us</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="~/Home/Login">
			<span class="icon-usericon"></span>
		</a>
	</li>
</ul>