<ul class="navbar-nav ml-auto">
	<li class="nav-item">
		<a class="nav-link" href="~/Home">
			<span>Home</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="~/Home/ContactUs">
			<span>Contact Us</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="~/Home/AboutUs">
			<span>About Us</span>
		</a>
	</li>
	<li class="nav-item dropdown">
        <a class="nav-link active" href="~/Home/Login" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="icon-usericon"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="~/Member/Index">Dashboard</a>
          <a class="dropdown-item" href="~/Member/Profile">Profile</a>
          <a class="dropdown-item" href="~/Logout/Index">Logout</a>
        </div>
     </li>
</ul>