<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a class="nav-link" href="~/ProductManager">
            <span>Home</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/ProductManager/AllProducts">
            <span>Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/ProductManager/NewProducts">
            <span>View New Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Logout">
            <span>Logout</span>
        </a>
    </li>
</ul>